<body id="{{profileDetails.role}}-view">
    {{> userHeader}}
    <div id="body">
        <div id="main-section">
            <img id="profile-picture" src="/common/CSS & Assets/Assets/elmo.jpg" alt="Profile Picture">
            <br>
            <input type="file" id="fileInput" style="display: none;">
            <button id="editProfilePicButton">Select Picture</button>
            
            <div id="fullName">{{profileDetails.firstName}} {{profileDetails.lastName}}</div>   
            <br>
            {{#if profileDetails.isLabtech}}
                <div id="account-type">Lab Technician</div>
            {{else}}
                <div id="account-type">Student</div>
            {{/if}}
            <div id="account-options">
                <button id="editProfileButton">Edit Profile Details</button>
                <button id="delProfileButton">Delete Account</button>
            </div>
        </div>
        <div id="mid-section">
            <div id="bio">
                <h2>Bio</h2>
                <div id="bio-text">{{profileDetails.bio}}</div> 
            </div>
            <div id="account-details">
                <h2>Account Details</h2>
                
                <div class="profile-detail">
                    <div><b>Email: &ensp;</b></div>
                    <div id="email">{{profileDetails.email}}</div>
                </div>
                <div class="profile-detail">
                    <div><b>ID Number: &ensp;</b></div>
                    <div id="idNumber">{{profileDetails.idNum}}</div>
                </div>
                <div class="profile-detail">
                    <div><b>Birthday: &ensp;</b></div>
                    <div id="birthday">{{profileDetails.birthday}}</div>
                </div>
                <div class="profile-detail">
                    <div><b>Pronouns: &ensp;</b></div>
                    <div id="pronouns">{{profileDetails.pronouns}}</div>
                </div>
            </div>
            <div id="stats">
                <h2>Stats</h2>
                <div id="active-stat">You have 5 active reservations.</div>
                <div id="type-ratio-label">Reservation Type Ratio</div>
                <progress id="type-bar" max="100" value="50">50%</progress>
                <div id="type-ratio">
                    <div id="solo-percent">Solo: 50%</div>
                    <div id="group-percent">Group: 50%</div>
                </div>
            </div>
        </div>
        
        <div id="res-section"> 
            <h2>Your Reservations</h2>
            <table id="dataTable">
                <thead>
                    <tr>
                        <th>Laboratory</th>
                        <th>Seat</th>
                        <th>Request DT</th>
                        <th>Reservation DT</th>
                        <th>Type</th>
                        {{#if profileDetails.isLabtech}}
                            <th>Student ID</th>
                        {{/if}}
                    </tr>
                </thead>
                <tbody>
                    {{#if profileDetails.isLabtech}}
                        {{#each reservations}}
                            <tr class="table-row">
                                <td>{{lab}}</td>
                                <td>{{seat}}</td>
                                <td>{{requestDT}}</td>
                                <td>{{reserveDT}}</td>
                                <td>{{type}}</td>
                                <td>{{requestFor}}</td>
                            </tr>
                        {{/each}}
                    {{else}}
                        {{#each reservations}}
                        <tr class="table-row">
                            <td>{{lab}}</td>
                            <td>{{seat}}</td>
                            <td>{{requestDT}}</td>
                            <td>{{reserveDT}}</td>
                            <td>{{type}}</td>
                            
                        </tr>
                        {{/each}}
                    {{/if}}
                    
        
                </tbody>
            </table>

        </div>

    </div>
    <div id="dimmedBackground"></div>
    <div id="popupWindow">
        <div id="popupContent">
            <button id="closeButton">&times;</button>
            <h3>Edit Profile Details</h3>
            <form id="profileForm">
                <label for="fullNameInput">Full Name:</label>
                <br>
                <input type="text" id="fullNameInput" required>
                <br><br>
                <label for="usernameInput">Username:</label>
                <br>
                <input type="text" id="usernameInput" required>
                <br><br>
                <label for="emailInput">Email:</label>
                <br>
                <input type="email" id="emailInput" required>  <br><br>
                <label for="idNumberInput">ID Number:</label>
                <br>
                <input type="text" id="idNumberInput" required>
                <br><br>
                <label for="birthdayInput">Birthday:</label>
                <br>
                <input type="date" id="birthdayInput" required>
                <br><br>
                <label for="pronounsInput">Pronouns:</label>
                <br>
                <input type="text" id="pronounsInput" required>
                <br><br>

                <label for="bioInput">Bio:</label>
                <br>
                <textarea id="bioInput" name="bioInput" rows="4" maxlength="120"></textarea>
                <p id="counter">Characters remaining: 120</p>
                <br>
                
                
                <br><br><br>
                <button type="button" id="saveChangesButton">Save Changes</button>
            </form>
        </div>
    </div>
    <div id="deletePopup">
        <button id="closeButtonDelete">&times;</button>
        <h3>Are you sure you want to delete your account? This action is irreversible.</h3>
        <div id="delete-options">
            <form id="choiceForm">
                <div class="choice">
                    <input type="radio" id="yes-delete" name="choice" value="yes" class="input-choice">
                    <label for="yes-delete" class="choice-label">Yes, delete my account.</label>
                </div>
                <div class="choice">
                    <input type="radio" id="no-delete" name="choice" value="no" class="input-choice">
                    <label for="no-delete" class="choice-label">No, keep my account.</label>
                </div>
                <br>
                <button type="submit" class="submit-button">Submit</button>
            </form>
        </div> 
    </div>
</div>
</body>